@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

@font-face {
  font-family: 'Yekan';
  src: url('../../public/fonts/Yekan.eot'); /* IE9 Compat Modes */
  src: url('../../public/fonts/Yekan.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../public/fonts/Yekan.woff2') format('woff2'),
    /* Modern Browsers */ url('../../public/fonts/Yekan.woff') format('woff'),
    /* Modern Browsers */ url('../../public/fonts/Yekan.otf') format('opentype'),
    /* Open Type Font */ url('../../public/fonts/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}
html,
body {
  font-family: 'Yekan', sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-rendering: optimizeLegibility;
}
